@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "freight";
  src: url("/fonts/Freight Big Pro Black Italic.otf") format("otf"),
    url("/fonts/Freight Big Pro Black.otf") format("otf"),
    url("/fonts/Freight Big Pro Light Italic.otf") format("otf"),
    url("/fonts/Freight Big Pro Light.otf") format("otf"),
    url("/fonts/Freight Big Pro Medium Italic.otf") format("otf"),
    url("/fonts/Freight Big Pro Medium.otf") format("otf"),
    url("/fonts/Freight Big Pro Semibold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
